<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!-- Sporting Events -->
    <add key="CubsScheduleUrl" value="http://espn.go.com/mlb/team/schedule/_/name/chc/chicago-cubs" />
    <add key="CubsLogoImageUrl" value="http://img1.wikia.nocookie.net/__cb20120118041402/callofduty/images/5/5a/Chicago_cubs_logo.png" />
    
    <!-- Weather Forecast -->
    <add key="WeatherUrl" value="http://api.wunderground.com/api/3c40b39bea9d0619/forecast/q/IL/60657.json" />
    
    <!-- Email -->
    <add key="EmailTo" value="brandon.r.barnett@gmail.com;barnett.anna.e@gmail.com;craigzubke@gmail.com;aa.stolarski@gmail.com" />
    <!--<add key="EmailTo" value="brandon.r.barnett@gmail.com" />-->
    <add key="EmailFrom" value="no-reply@echosolutionsgroup.com" />
    <add key="EmailFromDisplayName" value="ESG - Daily Digest" />
    <add key="EmailUsername" value="azure_ad85e8fdb09f454d1a4fa6151dfd983a@azure.com" />
    <add key="EmailPassword" value="8zeywjcf" />
  </appSettings>
</configuration>